.category {
  width: 90%;
  margin: 0 auto;
  .categorySubHeader {
    display: flex;
    .categoryDropdown {
      flex-direction: row;
      @media (min-width: 601px) {
        display: none;
      }
    }
  }
  .categoryBody {
    display: flex;
  }
}
