.product {
  width: 90%;
  margin: 0 auto;
}

.product__trail {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.product__trailElement {
  padding: 0 5px;
  font-weight: 500;
  font-size: 12px;
}

.product__details {
  margin-left: 15px;
  display: flex;
}
