.productRow {
  margin: auto;
  margin-top: 5px;
  width: 90%;
}

.productRow__itemsContainer {
  display: flex;
  align-items: center;
}
.productRow__items {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px 0;
  scroll-behavior: smooth;
}

.productRow__items::-webkit-scrollbar {
  display: none;
}

.productRow__item {
  object-fit: contain;
  min-width: 250px;
  margin: 20px 0;
  margin-right: 20px;
  transition: transform 450ms;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
}

.productRow > Card {
  border: 0;
  box-shadow: 0px;
}

.productRow__item:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.09) !important;
}

.productRow__itemWishlist {
  display: flex;
  font-size: 16px;
}

.productRow__itemCart {
  display: flex;
  font-size: 18px;
}

.productRow__icon {
  margin-left: auto;
  color: white;
  padding: 6px;
  background-color: #f15a24;
  border-radius: 999px;
}

button {
  color: blue;
  border: none;
  background-color: white;
  text-align: center;
  padding: 14px;
  /* text-decoration: none; */
  cursor: pointer;
}
button:hover {
  background-color: whitesmoke;
}
