@import "../../components/colors";
.navbar {
  font-family: "Raleway", sans-serif;
  color: "#202124";
  font-weight: 500;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  width: 90%;
  height: 60px;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: white;

  .navbarLogo {
    @media (max-width: 600px) {
      display: none;
    }
  }

  .navbarMobileLogo {
    @media (min-width: 601px) {
      display: none;
    }
  }

  .navbar__link {
    color: black;
    text-decoration: none;
  }

  .navbar_desktopMenu {
    display: flex;
    align-items: center;
  }

  .navbar_right {
    display: flex;
    .navbar_desktopMenu {
      @media (max-width: 600px) {
        display: none;
      }
    }
    .navbar_mobileMenu {
      @media (min-width: 601px) {
        display: none;
      }
    }
  }
}
