.productInfo {
	flex: 0.7;
	margin-left: 50px;
}
.productInfo__addToCart {
	background-color: #f15a24;
	color: #fff;
	font-size: 17px;
	line-height: 20px;
	border-radius: 2px;
	width: 100%;
	border: 1px solid;
	margin-top: 10px;
}
.productInfo__price {
	padding: 60px 0;
}
.productInfo__description {
	padding: 100px 0;
}
