.login__card {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 65px;
}

.login__logo {
  padding: 24px;
  color: black;
  display: grid;
  place-items: center;
}

.login__container {
  width: 75%;
  border-radius: 5px;
  padding: 20px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.login__container > form > h5 {
  margin-bottom: 5px;
}

.login__container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
}

.login__card > p {
  margin-top: 15px;
  font-size: 12px;
}

.login__email {
  background-color: #f15a24;
  color: #fff;
  font-size: 17px;
  line-height: 20px;
  border-radius: 2px;
  width: 100%;
  border: 1px solid;
  margin-top: 10px;
}

.login__register {
  background-color: #43464e;
  color: #fff;
  border-radius: 2px;
  width: 100%;
  border: 1px solid;
  margin-top: 10px;
  font-size: 17px;
  line-height: 20px;
}

.login__google {
  background-color: #ea4335;
  color: white;
}

.login__facebook {
  background-color: #3b5998;
  color: white;
}

.login__phone {
  background-color: #1da1f2;
  color: white;
}

.btn {
  border: none;
  display: inline-block;
  text-decoration: none;
  align-items: center;
  display: flex;
  align-items: center;
  width: 120px;
  border-radius: 4px;
  margin: 5px 5px;
  opacity: 0.85;
  font-size: 17px;
  line-height: 20px;
}

.login__options {
  height: fit-content;
  display: flex;
  flex-direction: row;
  float: left;
  margin: auto;
  display: flex;
  border-radius: 5px;
  margin-top: 6px;
}
